/**** General Styles ****/
html {
  font-size: 18px;
}

body {
  font-size: 1em;
  font-family: 'Barlow';
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  font-family: 'Fraunces';
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}


/**** Header - Hero Image****/

header h3 {
  margin: 0;
  color: white;
  padding-left: 10px;
  font-family: 'Fraunces';
  font-weight: 700;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-right: 10px;
  margin-top: 0;
  padding-left: 25px;
}

.hero-img {
  /*background-image: url("../img/image-header.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  margin: 15px 0 0 0;
  width: auto;
  display: flex;
  flex-flow: row wrap;
}

.hamburger {
  padding-left: 150px;
  cursor: pointer;
  padding-top: 10px;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 10px;
  background-color: white;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: white;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.nav__link a:hover {
  background-color: black;
}

.hide {
  display: none;
}

.hero img {
  width: 100%;
}

.container h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  color: white;
  font-family: 'Fraunces';
  font-weight: 900;
  letter-spacing: 3px;
}

/*** Main Content ***/

.main-content img {
  width: 375px;
}

.main-content p {
  text-align: center;
}


/*** testimonials ***/

.testimonials img {
  border-radius: 50px;
  width: 75px;
}

.testimonials {
  text-align: center;
}

.testimonials h3 {
  text-transform: uppercase;
  font-family: 'railway';
  letter-spacing: 2px;
  font-size: 1em;
  color: hsl(210, 4%, 67%);
}
/*** four photos ***/

.four-photos img {
  width: 50%;
}

.four-photos {
  display: flex;
  flex-flow: row wrap;
}






@media screen and (min-width: 600px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
